.site-nav-toggle {
    +mobile() {
        position: fixed;
        z-index: 1;
    }
}

.site-nav {
    +mobile() {
        position: fixed;
        background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    }
}

+mobile() {
    .posts-expand .post-comments-count {
        display: initial;
    }
}

.page-home,
.page-post-detail {
    //  article {
    .post {
        //      border: 1px solid salmon;
        border-radius: 1em;
        box-shadow: 0px 0px 2em #9e9e9e;
        padding: 1em;
        background-color: rgba(255, 255, 255, .5);
        opacity: 0;
    }
    .post+.post {
        margin-top: 1em;
    }
    //  }
}

#c_n13,
.container {
    //  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    //  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.brand {
    background-color: initial;
}

.site-title {
    //标题渐变
    -webkit-background-clip: text;
    color: transparent;
    //background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    background-image: linear-gradient(-225deg, #9bffe0 0%, #ffb4f0 100%);
    font-size: 40px;
    line-height: 60px;
}

.posts-expand {
    //文章页标签样式
    .post-tags {
        a {
            font-size: 12px;
            border: 1px solid #555;
            line-height: 1;
            border-left: none;
            position: relative;
            padding-left: 10px;
            &:before {
                content: '';
                display: block;
                //              background: #9E9E9E;
                width: 9px;
                height: 9px;
                position: absolute;
                top: 50%;
                left: 0;
                border: 1px solid #555;
                border-top: none;
                border-right: none;
                transform: translateY(-50%)translateX(-5px)translateY(-0px)rotateZ(45deg);
            }
            &:after {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border: 1px solid #555;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateX(-2px)translateY(-50%);
            }
            &:hover {
                background-image: linear-gradient(135deg, #9bffe0 0%, #ffb4f0 100%);
                &:before {
                    background: #9bffe0;
                }
                &:after {
                    background: #ffffff;
                }
            }
        }
    }
}

.page-post-detail #posts .post-body img {
    max-height: 400px;
}

+mobile() {
    .page-post-detail #posts .post-body img {
        max-height: 200px;
    }
}

code {
    background-image: linear-gradient(150deg, #e3fdf5 0%, #ffe6fa 100%);
    border: 1px solid #e0e0e0;
}